html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: $font-med;
  font-weight: $font-normal;
  color: $grayishBlue;
  overflow-x: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 16px;
}

.text__container {
  text-align: center;
  margin-bottom: 40px;

  h2 {
    font-size: $font-lg;
    color: $veryDarkBlue;
    font-weight: $font-bold;
  }

  p {
    line-height: 1.5;
    font-size: $font-med;

    @include breakpoint-up(medium) {
      width: 500px;
      margin: 0 auto;
    }
  }
}

.btn {
  padding: 8px 12px;
  background: $softBlue;
  border: 2px solid $softBlue;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: $transition;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
