.hero {
  margin-top: 80px;

  @include breakpoint-up(large) {
    display: flex;
    align-items: center;
  }

  &__img {
    &::after {
      content: '';
      display: block;
      width: 600px;
      height: 200px;
      background: $softBlue;
      border-radius: 300px;
      position: absolute;
      top: 30%;
      right: -50%;
      z-index: -1;

      @include breakpoint-up(medium) {
        width: 800px;
        height: 300px;
        top: 35%;
        right: -40%;
      }

      @include breakpoint-up(large) {
        width: 800px;
        height: 250px;
        top: 35%;
        right: -30%;
      }

      @include breakpoint-up(xlarge) {
        width: 1200px;
        height: 400px;
        top: 30%;
        right: -30%;
      }
    }

    @include breakpoint-up(large) {
      order: 2;
      flex: 1;
    }

    img {
      width: 100%;
      position: relative;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      order: 1;
      flex: 1;
      text-align: left;
    }

    h1 {
      font-size: $font-xlg;
      font-weight: $font-bold;
      color: $veryDarkBlue;
    }

    p {
      width: 90%;
      line-height: 1.5;
      margin: 0 auto;
      margin-bottom: 40px;

      @include breakpoint-up(large) {
        margin: 0;
        margin-bottom: 40px;
      }
    }
  }

  &__cta {
    font-size: $font-sm;
    font-weight: $font-bold;
    margin-right: 20px;

    &:hover {
      background: transparent;
      border: 2px solid $softBlue;
      color: $softBlue;
      box-shadow: $box-shadow;
    }

    &--secondary {
      background: #fff;
      font-size: $font-sm;
      font-weight: $font-bold;
      color: $veryDarkBlue;
      border: 2px solid #fff;
      box-shadow: $box-shadow;

      &:hover {
        border: 2px solid $veryDarkBlue;
      }
    }
  }
}
