@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 0.3s ease-in-out forwards;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #9194a1;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 16px;
}

.btn {
  padding: 8px 12px;
  background: #5368df;
  border: 2px solid #5368df;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .overlay {
  display: block;
}

.header .overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(37, 43, 70, 0.9), rgba(37, 43, 70, 0.9));
}

.header .overlay__content {
  min-height: 100vh;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .overlay__links {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.header .overlay__links a {
  display: block;
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 500;
  border-top: 1px solid #9194a1;
}

.header .overlay__links a:nth-child(3) {
  border-bottom: 1px solid #9194a1;
  margin-bottom: 18px;
}

.header .overlay__links--btn {
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #fff;
}

.header .overlay__social {
  text-align: center;
}

.header .overlay__social a {
  margin-right: 20px;
}

.header nav {
  z-index: 10;
}

.header__links a {
  font-size: 14px;
  color: #252b46;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 22px;
}

.header__links a:hover {
  color: #fa5757;
}

.header__btn--red {
  padding: 7px 16px;
  font-size: 14px;
  background: #fa5757;
  border-color: #fa5757;
}

.header__btn--red:hover {
  background: transparent;
  color: #fa5757;
  box-shadow: 0px 10px 30px -7px rgba(0, 0, 0, 0.45);
}

.hero {
  margin-top: 80px;
}

@media (min-width: 64em) {
  .hero {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 64em) {
  .hero__img {
    order: 2;
    flex: 1;
  }
}

.hero__img img {
  width: 100%;
}

.hero__text {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__text {
    order: 1;
    flex: 1;
    text-align: left;
  }
}

.hero__text h1 {
  font-size: 40px;
  font-weight: 500;
  color: #252b46;
}

.hero__text p {
  width: 90%;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: 64em) {
  .hero__text p {
    margin: 0;
    margin-bottom: 40px;
  }
}

.hero__cta {
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}

.hero__cta:hover {
  background: transparent;
  border: 2px solid #5368df;
  color: #5368df;
  box-shadow: 0px 10px 30px -7px rgba(0, 0, 0, 0.45);
}

.hero__cta--secondary {
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #252b46;
  border: 2px solid #fff;
  box-shadow: 0px 10px 30px -7px rgba(0, 0, 0, 0.45);
}

.hero__cta--secondary:hover {
  border: 2px solid #252b46;
}

.features {
  margin: 80px 0;
}

.features__text {
  text-align: center;
}

.features__text h2 {
  font-size: 30px;
  color: #252b46;
  font-weight: 500;
}

.features__text p {
  line-height: 1.5;
  font-size: 18px;
}

@media (min-width: 40em) {
  .features__text p {
    width: 500px;
    margin: 0 auto;
  }
}

.features__tabs [data-tab-content] {
  display: none;
}

.features__tabs .active[data-tab-content] {
  display: block;
}

.features__menu {
  list-style-type: none;
  text-align: center;
  padding-bottom: 60px;
}

@media (min-width: 40em) {
  .features__menu {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
}

.features__menu--tab {
  position: relative;
  padding: 30px 40px;
  color: #252b46;
  font-weight: 500;
  cursor: pointer;
  border-top: 1px solid #e3e4e8;
}

@media (min-width: 40em) {
  .features__menu--tab {
    border-top: none;
    border-bottom: 1px solid #e3e4e8;
  }
}

.features__menu--tab:nth-child(3) {
  border-bottom: 1px solid #e3e4e8;
}

.features__menu--tab::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 40%;
  margin: 0 auto;
  height: 3px;
  left: 0;
  right: 0;
  bottom: 0px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 40em) {
  .features__menu--tab::before {
    width: 100%;
  }
}

.features__menu--tab.active::before {
  background: #fa5757;
}

.features__menu--tab:hover::before {
  background: #fa5757;
}

.features__tab__content .tab__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 40em) {
  .features__tab__content .tab__item {
    flex-direction: row;
    gap: 60px;
  }
}

.features__tab__content .tab__item__img {
  flex: 1;
}

.features__tab__content .tab__item__img img {
  width: 100%;
}

@media (min-width: 64em) {
  .features__tab__content .tab__item__img img {
    width: 80%;
  }
}

.features__tab__content .tab__item__text {
  flex: 1;
  margin: 40px 0;
  text-align: center;
}

@media (min-width: 40em) {
  .features__tab__content .tab__item__text {
    text-align: left;
  }
}

.features__tab__content .tab__item__text h2 {
  font-size: 30px;
  color: #252b46;
}

.features__tab__content .tab__item__text p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 35px;
}

.features__tab__content .tab__item__text .btn {
  display: none;
}

@media (min-width: 40em) {
  .features__tab__content .tab__item__text .btn {
    display: inline-block;
  }
}

.download {
  margin: 80px 0;
}

.download__text {
  text-align: center;
  margin-bottom: 40px;
}

.download__text h2 {
  font-size: 30px;
  color: #252b46;
  font-weight: 500;
}

.download__text p {
  line-height: 1.5;
  font-size: 18px;
}

@media (min-width: 40em) {
  .download__text p {
    width: 500px;
    margin: 0 auto;
  }
}

.download__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 40em) {
  .download__cards {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.download__cards .card {
  margin-bottom: 20px;
  position: relative;
  width: 280px;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 10px 30px -7px rgba(0, 0, 0, 0.45);
}

.download__cards .card__img {
  margin-bottom: 25px;
}

.download__cards .card__img img {
  width: 60px;
  height: 60px;
}

.download__cards .card__text {
  margin-bottom: 70px;
}

.download__cards .card__text h2 {
  font-size: 18px;
  color: #252b46;
  font-weight: 500;
}

.download__cards .card__text p {
  font-size: 14px;
}

.download__cards .card .dots {
  position: absolute;
  bottom: 27%;
  left: 0;
}

.download__cards .card__cta {
  width: 100%;
}

.download__cards .card__cta .btn {
  display: block;
  font-size: 14px;
}

@media (min-width: 40em) {
  .download__cards .card--firefox {
    margin-top: 80px;
  }
}

@media (min-width: 40em) {
  .download__cards .card--opera {
    margin-top: 160px;
  }
}
/*# sourceMappingURL=style.css.map */